<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <form method='POST' action="" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group m-3">
            <label>Upload images</label>
            <input required name="image" type="file" class="form-control-file" multiple>
        </div>

        <button type='submit' class="btn btn-primary m-3">Submit</button>
    </form>
</body>

</html>

<!--     <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload Image</button>
    </form> -->